.header {
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5%;
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));

  ul {
    display: flex;
    font-size: 1.3em;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
    top: 27px;
    position: relative;

    li {
      list-style: none;

      a {
        color: $light;
        text-decoration: none;
        transition: color .2s ease;

        &.active {
          border-bottom: 3px solid $accent;
          color: $accent;
        }

        &:hover {
          color: $accent;
        }
      }
    }
  }
}